@import 'tailwindcss';

@theme {
  --color-staryellow: #ccd45d;
  --color-starblue: #5d82c7;
  --color-hoverblue: #7c9edd;
  --color-notigreen: #289e63;
  --color-notigreenbg: #dbece2;
  --animate-d-ping: d-ping 0.8s ease-out;
  @keyframes d-ping {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  --animate-bounce-once: bounce-once 1.3s ease-in-out;
  @keyframes bounce-once {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(10%);
    }
    20% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(5%);
    }
    40%,
    100% {
      transform: translateY(0);
    }
  }
  --animate-shake: animate-shake 1.3s ease-in-out;
  @keyframes animate-shake {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(5%);
    }
    20% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-10%);
    }
    40%,
    100% {
      transform: translateX(0);
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  font-weight: 500;
  color: #5d82c7;
  text-decoration: inherit;
}
a:hover {
  color: #5980c7;
}

body {
  margin: 0;
  width: 100%;
  min-height: 500px;
  color: #575757;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #6d90cf;
  }
}
