@import 'tailwindcss';

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    margin: 0;
    color: #575757;
  }

  h1 {
    line-height: 1.1;
  }

  a {
    font-weight: 500;
    color: #5d82c7;
    text-decoration: inherit;
  }
  a:hover {
    color: #7ea1e0;
  }

  button {
    font-family: inherit;
    cursor: pointer;
  }
  button:hover {
    border-color: #646cff;
  }

  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (prefers-color-scheme: light) {
    :root {
      background-color: #ffffff;
    }
    a:hover {
      color: #6d90cf;
    }
  }
}

@theme {
  --color-staryellow: #ccd45d;
  --color-starblue: #5d82c7;
  --color-stardark: #6682b6;

  --color-starbright: #6d90d1;
  --color-starbrighter: #88aef3;
  --color-starbrightest: #a9c3f1;

  --color-starbutton: #7199e4;

  --color-hoverblue: #7c9edd;
  --color-notigreen: #289e63;
  --color-notigreenbg: #dbece2;
  --color-gray-350: rgb(161, 161, 161);
  --color-gray-325: rgb(192, 191, 191);
  --color-gray-450: rgb(175, 175, 175);
  --color-gold: rgb(201, 181, 69);
  --color-gold-bright: rgb(228, 208, 95);
  --color-bronze: rgb(190, 129, 48);
  --color-darkbronze: rgb(160, 114, 54);

  --text-regular: 0.907rem;

  --animate-d-ping: d-ping 0.8s ease-out;
  @keyframes d-ping {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  --animate-bounce-once: bounce-once 1.3s ease-in-out;
  @keyframes bounce-once {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(10%);
    }
    20% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(5%);
    }
    40%,
    100% {
      transform: translateY(0);
    }
  }
  --animate-shake: animate-shake 0.4s ease-in-out;
  @keyframes animate-shake {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(5%);
    }
    20% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-3%);
    }
    40%,
    100% {
      transform: translateX(0);
    }
  }
}

@layer components {
  .test-red-bg {
    color: #6d90cf;
    background-color: #ff1010;
    padding-top: 20px;
  }
  .test-red-bg2 {
    @apply text-3xl font-bold text-black;
  }
}
