.git
.gitignore
.gitattributes

node_modules
**/node_modules

.env
.env.*
!.env.example            # keep the template if you have one

*.rest
.rest

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

.cache
**/.cache
.tmp
.temp
**/.turbo
.eslintcache
.stylelintcache

coverage
**/coverage
*.lcov

.DS_Store
Thumbs.db
.vscode
.idea

client/dist
server/dist
shared/dist
build
**/build

Dockerfile.prod        # ignore alt Dockerfiles if not needed
docker-compose*.yml